<div class="row top-header">
  <div class="col-md-3 col-md-offset-9 text-right">
    <%= link_to 'Edit', edit_tour_path(@tour), :class => "btn btn-primary" %>
    <%= link_to 'Back to Tour', tours_path, :class => "btn btn-primary" %>
  </div>
</div>
<h3>Tour Info</h3>
<div class="row">
  <div class="col-md-3">
    <strong>Name</strong>
  </div>
  <div class="col-md-9">
    <p><%= @tour.name.capitalize %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <strong>Number of travellers</strong>
  </div>
  <div class="col-md-9">
    <p><%= @tour.travellers.size %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <strong>Information</strong>
  </div>
  <div class="col-md-9">
    <p><%= @tour.information.capitalize %></p>
  </div>
</div>

<h3>Tourguide</h3>

<h3>Travelers</h3>

<div class="row">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#accept" aria-controls="accept" role="tab" data-toggle="tab">Accept</a></li>
    <li role="presentation"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="accept">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Index</th>
            <th>Email</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Device</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if @travellers_accept.present? %>
            <% @travellers_accept.each_with_index do |traveller, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= traveller.email %></td>
                <td><%= traveller.name %></td>
                <td><%= traveller.address %></td>
                <td><%= traveller.phone %></td>
                <td><%=  %></td>
                <td><button type="button" class="btn btn-danger">Cancel</button></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="7"><center>Data is empty!</center></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="pending">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Index</th>
            <th>Email</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone number</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if @travellers_pending.present? %>
            <% @travellers_pending.each_with_index do |traveller, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= traveller.email %></td>
                <td><%= traveller.name %></td>
                <td><%= traveller.address %></td>
                <td><%= traveller.phone %></td>
                <td class="text-center">
                  <button type="button" class="btn btn-danger">Cancel</button>
                  <button type="button" class="btn btn-success">Accept</button>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="6"><center>Data is empty!</center></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


